.App {
  text-align: center;
}

.surah-module {
  background-color: aquamarine;
  font-size: 1.3em;
  padding: 15px;
  margin: 25px auto;
  width: 500px;
  border-radius: 15px;
  border: 3px solid green;
}

.surah-heading, .surah-heading-en {
  background-color: chartreuse;
  text-align: center;
  padding: 10px;
  margin: 15px 75px;
  border: 10px;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
